*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
html{
  font-size: 14px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background: #f1f1f1;
  height: 100vh;
}
button{
  outline: none;
}
input,textarea{
  font: inherit;
}
ul,li{
  list-style: none;
}
.page{
  background: #fff;
  height: 100%;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  overflow: auto;
}
aside{
  width: 240px;
  height: 100%;
  background: linear-gradient(to bottom, #ff4760 0%,#e54352 100%);
  flex-shrink: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
aside .content{
  position: fixed;
  left: 32px;
  top: 64px;
  display: flex;
  height: 560px;
  flex-direction: column;
  justify-content: space-between;
}
aside .nav{
  display: flex;
  flex-direction: column;
}
aside .nav li{
  margin: 10px 0;
  color: rgba(255,255,255,0.6);
}
aside .nav li:hover{
  color: #fff;
}
aside .nav li.active{
  color: #fff;
  font-weight: bold;
}
aside .logoArea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
aside .logoArea p{
  font-size: 14px;
  color: rgba(255,255,255,0.8);
  margin-top: 12px;
}
aside .logo{
  width: 160px;
}
aside .uploadArea{
  width: 176px;
}
aside .uploadContainer{
  width: 176px;
  height: 176px;
  border: 1px dashed #fff;
  border-radius: 2px;
  background: rgba(255,255,255,0.1);
  text-align: center;
}
aside .plus{
  display: inline-block;
  height: 176px;
  width: 176px;
  font-size: 24px;
  color: #fff;
  line-height: 176px;
}
aside .description{
  font-size: 12px;
  color: #fff;
  margin-top: 16px;
}

main .container{
  margin-left: 240px;
}
main header{
  height: 64px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d1d4dd;
  position: fixed;
  top: 0;
  z-index: 1;
  
  /* visibility:  */
}
main header .headerWrapper{
  display: flex;
  align-items: center;
}
main header p{
  font-size: 16px;
  line-height: 64px;
  margin-left: 28px;
  font-weight: bold;
  color: #e54352;
}
main header button.createList{
  display: none;
  position: fixed;
  right: 40px;
}
main .songList{
  display: none;
  /* overflow: hidden; */
}
main .newSong{
  display: none;
}
main .tableContainer{
  /* border: 1px solid red; */
  /* height: 532px; */
  /* overflow: auto; */
  margin-top: 96px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}
main table{
  /* height: 100px;
  width: 100px; */
  width: 90%;
  background: #fff;
  /* margin: auto; */
  /* margin-top: 96px; */
  border-collapse: collapse;
  /* border: 1px solid #ddd; */
  /* box-shadow: 0 0 4px rgba(0,0,0,0.2); */
  table-layout:fixed;
  /* white-space: nowrap; */
  
}
table tbody tr:hover{
  background: #fbfbfb;
}
table th{
  text-align: left;
  border-bottom: 1px solid #d1d4dd;
  padding: 0 0 0 24px;
  /* color: #666; */
  color: #a5a9b3;
  font-size: 14px;
  /* background: #fefefe; */
  font-weight: normal;
}
table th.name{
  width: 20%;
}
table th.singer{
  width: 14%;
}
table th.createTime,
table th.updateTime{
  width: 160px;
}
table th.actions{
  width: 120px;
}
table tr{
  height: 48px;
  border-bottom: 1px solid #e6e9f0;
}
table td{
  color: #5e6166;
  word-break: break-all;
  font-size: 12px;
  padding: 0 0 0 24px;
}
table .far{
  font-size: 12px;
  color: #999;
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #eee;
  text-align: center;
  line-height: 28px;
}
table .far:hover{
  background: linear-gradient(to bottom, #ff4760 0%,#e54352 100%);
  color: #fff;
}
table .delete{
  margin-left: 4px;
}

main form{
  /* border: 1px solid red; */
  margin: auto;
  width: 500px;
  /* text-align: center; */
  margin-top: 96px;
}
main form input{
  width: 400px;
  margin: 12px 0;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}
main form textarea{
  width: 400px;
  margin: 10px 0 24px 0;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
}
main form .raw{
  display: flex;
  flex-direction: row;
  align-items: center;
}
main form .raw .lyric{
  margin-top: -52px;
}
main form .raw.actions{
  padding-left: 4em;
}
main form label{
  display: inline-block;
  width: 4em;
  color: #a5a9b3;
}
main form .actions{
  flex-direction: row;
  margin-top: 16px;
}
main button{
  height: 40px;
  width: 96px;
  background: #e54352;
  border: none;
  color: #fff;
  border-radius: 2px;
}
main button.cancel{
  background: #fff;
  border: 1px solid #a5a9b3;
  color: #666;
  margin-left: 20px;
}
main button.save:hover,
main button.delete:hover,
main button.createList:hover{
  background: #dd3d4c;
}
main button.cancel:hover{
  border: 1px solid #666;
}

main .songDelete,
main .listDelete{
  display: none;
}
main .deleteSong,
main .deleteList{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
main .delete-content{
  text-align: center;
  color: #5e6166;
}
main .delete-content .actions{
  margin-top: 48px;
}
main .delete-content .strong{
  font-weight: bold;
  color: #e54352;
}

.loadingContainer{
  display: none;
}
.loading{
  
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img{
  height: 72px;
  opacity: 0.8;
}

main .home{
  display: block;
  padding-top: 96px;
  /* border: 1px solid red; */
  padding-left: 28px;
  padding-right: 28px;
}
main .home .wrapper{
  display: flex;
  flex-direction: column;
}
main .home .homeListHeadWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .home h4.listTitle,
main .home h4.songsTitle{
  color: #e54352;
  /* position: relative; */
  font-size: 16px;
}
main .home .homeListHeadWrapper i{
  width: 20px;
  height: 20px;
  background: #eee;
}
main .home .list{
  overflow: hidden;
  position: relative;
  height: 272px;
}
main .home .list ul{
  margin-top: 20px;
  display: flex;
  position: absolute;
  left: 0;
  /* justify-content: space-between; */
}
main .home .list ul>li{
  font-size: 13px;
  align-items: center;
  margin-right: 12px;
  /* width: 10vw; */
}
main .home .list ul>li:last-child{
  margin-right: 0;
}
main .home .listInfo{
  margin-top: 16px;
  width: 10vw;
}
main .home .listName{
  font-size: 12px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .home .listCreator{
  color: #999;
  margin-top: 2px;
  font-size: 11px;
}
main .home .listCover{
  height: 10vw;
  width: 10vw;
  /* margin-right: 12px; */
  background: #000;
  border-radius: 8px;
  box-shadow: 0 15px 24px -6px rgba(0,0,0,0.1), 0 12px 12px -6px rgba(0,0,0,0.2);
}
main .home .listCover:hover{
  box-shadow: 0 15px 24px -6px rgba(0,0,0,0.1), 0 12px 12px -6px rgba(0,0,0,0.5);
}


main .home .listCover img{
  width: 100%;
  border-radius: 4px;
}

main .home .songs{
  margin-top: 40px;
  margin-bottom: 40px;
}
main .home  .tableContainer{
  margin-top: 4px;
  display: block;
}
main .home table{
  width: 760px;
}
main .home table th.name{
  width: 220px;
}
main .home table th.singer{
  width: 140px;
}
main .home table th.createTime,
main .home table th.updateTime{
  width: 200px;
}
main .home table th{
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 0 0 0 12px;
  /* color: #666; */
  color: #a5a9b3;
  font-size: 12px;
  background: #fefefe;
  font-weight: normal;
  height: 40px;
}
main .home table tr{
  height: 48px;
  border-bottom: none;
}
main .home table td{
  color: #333;
  word-break: break-all;
  font-size: 13px;
  padding: 0 0 0 12px;
}
main .home table tr th{
  height: 40px;
  /* border-bottom: 1px solid #e6e9f0; */
}


main .newSongList{
  display: none;
}
main .newSongList form label.listDescription{
  margin-top: -120px;
}
main .newSongList form label{
  width: 5em;
}
main .newSongList form .actions{
  padding-left: 5em;
}
main .allSongList{
  display: none;
}
main .allSongList .wrapper{
  width: 90%;
  margin: auto;
  margin-top: 96px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .allSongList table tr img{
  width: 72px;
  height: 72px;
  border-radius: 4px;
}
main .allSongList table td{
  padding: 12px 0 12px 24px;
}
/* main .allSongList table tr{
  border-bottom: none;
} */
main .allSongList table th.cover{
  width: 14%;
}
main .allSongList table th.listName{
  width: 22%;
}