*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}
html,body{
  font-size: 14px;
  line-height: 1.5;
  /* height: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Pingfang SC','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-text-size-adjust: 100%;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
input{
  font: inherit;
}

/* head */
.head{
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}
.topHead{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background: #000;
}

.logo{
  height: 22px;
  margin-left: 16px;
}

.download{
  margin-right: 16px;
  background: #000;
  border: 1px solid #fbfbfb;
  font-size: 12px;
  color: #fff;
  padding: 6px 14px;
  border-radius: 4px;
}

/* nav */ 

.nav{
  margin-top: 16px;
  width: 100vw;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  color: #999;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  font-size: 15px;
}

.nav li{
  position: relative;
  cursor: pointer;
}
.nav li.active{
  color: #333;
  font-weight: 600;
}
.nav li.active::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  top: 32px;
  border-radius: 1px;
}

main{
  /* position: fixed; */
  margin-top: 114px;
}

main ul{
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #333;
  flex-wrap: wrap;
}

/* page-recommend */
/* listRecommend */

.page-recommend{
  display: none;
  padding-top: 24px;
}
.page-recommend.active{
  display: block;
  
}
main .page-recommend .picture{
  position: relative;
}
main .page-recommend .mount{
  position: absolute;
  display: flex;
  color: #fff;
  font-size: 12px;
  align-items: center;
  right: 6px;
  top: 4px;
  text-shadow: 0 0 2px rgba(0,0,0,0.2);
}
main .page-recommend .mount .headphone{
  font-size: 10px;
  margin-right: 4px;
}
main p.listName{
  font-size: 17px;
  padding-left: 16px;
  padding-bottom: 16px;
  font-weight: 600;
}
main .page-recommend li{
  width: 31.6%;
  padding-bottom: 16px;
}
main .page-recommend img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}
main .page-recommend li p.itemName{
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .page-recommend li p.itemCreator{
  font-size: 12px;
  color: #999;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* newSong */

main .page-recommend .songRecommend{
  margin-top: 10px;
}

main .songName{
  font-size: 17px;
}
main .singer{
  font-size: 12px;
  color: #999;
}
main li.song{
  width: 100%;
  /* border-bottom: 1px solid #eee; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
main .song a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
main .song a::after{
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #eee;
  width: 100%;
  top: 100%;
  margin-top: 10px;
}
main .playIcon{
  border: 1px solid #999;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
}
main .song i{
  font-size: 9px;
  margin-left: 2px;
  margin-top: 2px;
  color: #999;
}

/* .page-hotSong */
.page-hotSong{
  display: none;
}
.page-hotSong.active{
  display: block;
}
.page-hotSong .banner{
  height: 100%;
}
.page-hotSong img{
  width: 100%;
}

.page-hotSong .songList-container{
  margin-top: 10px;
}

.page-hotSong .song{
  display: flex;
  align-items: center;
}
.page-hotSong .song a{
  flex: 1;
}
.page-hotSong .song a::after{
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #eee;
  width: 100%;
  top: 100%;
  margin-top: 10px;
}
.page-hotSong .song .order{
  font-size: 17px;
  margin-right: 16px;
  color: #999;
}
.tip{
  font-size: 12px;
  color: #999;
  margin-top: 20px;
  text-align: center;
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-50%); */
  white-space: nowrap;
  padding-bottom:20px;
}

/* search */
.page-search{
  display: none;
}
.page-search.active{
  display: block;
  margin-top: 20px;
}
.page-search .search-container{
  padding: 16px 16px;
  /* position: relative; */
  /* border: 1px solid red; */
  position: fixed;
  width: 100%;
  background: #fff;
}
.page-search .input-container{
  height: 36px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 999px;
  padding: 0 32px;
  border: 1px solid #ddd;
  position: relative;
}
.page-search .input-container.active{
  border: 1px solid #666;
  background: #fff;
}
.page-search .input{
  width: 100%;
  height: 34px;
  line-height: 18px;
  background: transparent;
  font-size: 14px;
  color: #333;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.page-search input::-webkit-search-decoration,
.page-search input::-webkit-search-cancel-button {
  display: none;
}
.page-search input::-webkit-input-placeholder{
  color: #ddd;
  font-size: 13px;
}
.page-search .searchIcon.active{
  color: #666;
}
.page-search .searchIcon{
  font-size: 13px;
  color: #ddd;
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 9px;
  left: 0;
}

.page-search .timesIcon{
  font-size: 14px;
  color: #333;
  display: inline-block;
  margin-top: -2px;
}
.page-search .timesContainer{
  display: none
}
.page-search .timesContainer.active{
  display: block;
  position: absolute;
  /* border: 1px solid red; */
  height: 36px;
  width: 32px;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-search .hotSearchContainer.active{
  padding-top: 72px;
  display: block;
}
.page-search .hotSearchContainer{
  display: none;
}
.page-search .hotSearch{
  padding-left: 16px;
  color: #999;
  padding-bottom: 10px;
}
.page-search ul.searchTabs{
  padding: 0 16px;
  display: flex;
  justify-content: unset;
  font-size: 13px;
  color: #333;
  flex-wrap: wrap;
  
}
.page-search ul.searchTabs li{
  border: 1px solid #ddd;
  font-size: 14px;
  color: #666;
  position: relative;
  padding: 4px 10px;
  border-radius: 9999px;
  margin-right: 8px;
}
.page-search .searchResult{
  display: none;
  /* position: relative; */
}
.page-search .searchResult.active{
  display: block;
  padding-top: 72px;
}
.page-search .result{
  padding-left: 16px;
  color: #999;
  padding-bottom: 20px;
  position: relative;
}
.page-search .error{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.page-search .notFind {
  width: 220px;
  opacity: 0.8;
}
.page-search .wrongInfo{
  width: 220px;
  text-align: center;
  color: #bbb;
  margin-top: 16px;
}
/* footer */

footer{
  font-size: 10px;
  color: #999;
  margin-top: 80px;
  text-align: center;
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-50%); */
  white-space: nowrap;
  padding-bottom: 4px;
}




