*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Pingfang SC','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}

.head{
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}
.topHead{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background: #000;
}

.logo{
  height: 22px;
  margin-left: 16px;
}

.download{
  margin-right: 16px;
  background: #000;
  border: 1px solid #fbfbfb;
  font-size: 12px;
  color: #fff;
  padding: 6px 14px;
  border-radius: 4px;
}

.nav{
  margin-top: 16px;
  width: 100vw;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  color: #999;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  font-size: 15px;
}

.nav li{
  position: relative;
}
.nav li.active{
  color: #333;
  font-weight: 600;
}
.nav li.active::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  top: 32px;
  border-radius: 1px;
}

main{
  /* position: fixed; */
  margin-top: 140px;
}

main ul{
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #333;
  flex-wrap: wrap;
}
main .page-recommend .picture{
  position: relative;
}
main .page-recommend .mount{
  position: absolute;
  display: flex;
  color: #fff;
  font-size: 12px;
  align-items: center;
  right: 6px;
  top: 4px;
  text-shadow: 0 0 2px rgba(0,0,0,0.2);
}
main .page-recommend .mount .headphone{
  font-size: 10px;
  margin-right: 4px;
}
main p.listName{
  font-size: 17px;
  padding-left: 16px;
  padding-bottom: 16px;
  font-weight: 600;
}
main .page-recommend li{
  width: 31.6%;
  padding-bottom: 16px;
}
main .page-recommend img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}
main .page-recommend li p.itemName{
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .page-recommend li p.itemCreator{
  font-size: 12px;
  color: #999;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .page-recommend .songRecommend{
  margin-top: 10px;
}

main .page-recommend .songName{
  font-size: 17px;
}
main .page-recommend .singer{
  font-size: 12px;
  color: #999;
}
main .page-recommend li.song{
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
main .page-recommend .song a{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .page-recommend .playIcon{
  border: 1px solid #666;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
}
main .page-recommend .song i{
  font-size: 9px;
  margin-left: 2px;
  margin-top: 2px;
  color: #666;
}
footer{
  font-size: 10px;
  color: #999;
  text-align: center;
  margin-top: 64px;
  padding-bottom: 8px;
}

